header {
  background-image: url(../../assets/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  div {
    max-width: 1080px;
    img {
      padding: 20px;
    }
    p {
      font-size: 1.375rem;
      font-style: italic;
      text-align: right;
      color: #8fa7bf;
      padding: 20px;
    }
    nav {
      padding: 10px;
      text-align: right;
      ul {
        gap: 20px;
        li {
          list-style-type: none;
          a {
            text-decoration: none;
            color: white;
          }
          a:hover {
            color: #8fa7bf;
          }
        }
      }
    }
  }
}
